@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Spline+Sans:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: "Neue Montreal";
  src: url('/public/fonts/NeueMontreal-Regular.otf') format('otf');
}
@font-face {
  font-family: "Fixture";
  src: url('/public/fonts/Fixture-Medium.ttf') format('ttf');
}
@font-face {
  font-family: "TWK-Everett";
  src: url('../public/fonts/TWKEverettMono-Regular.otf') format('opentype');
}



@layer base {
  :root {
    --background: #fff;
    /* --background: #e4e4e4; */
    --foreground: #222222;
    --sora: 'Sora', sans-serif;
    --color-primary: 255 90 95;     /* a reddish color */
    --color-secondary: 34 197 94;   /* green */
    --color-accent: 59 130 246;     /* blue */
    --SplineSans: 'Spline Sans', Arial, Helvetica, sans-serif;
    --SpaceGrotesk: 'Space Grotesk', Arial, Helvetica, sans-serif;
    --InterTight: 'Inter Tight', Arial, Helvetica, sans-serif;
    --NeueMontreal: 'Neue Montreal', Arial, Helvetica, sans-serif;
    --TWKEverett: 'TWK-Everett', Arial, Helvetica, sans-serif;
    --MartianMono : 'Martian Mono', Arial, Helvetica, sans-serif;
    --LeckerliOne: "Leckerli One", cursive;
    --Fixture : "Fixture", Arial, Helvetica, sans-serif;
    --Oswald : 'Oswald', Arial, Helvetica, sans-serif;
  }
  
}



@theme inline {
  --background: var(--background);
  --foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-main : var(--background);
  --color-main2 : var(--foreground);
  --font-Montserrat: 'Montserrat', Arial, Helvetica, sans-serif;
  --font-SpaceGrotesk: var(--SpaceGrotesk);
  --font-SplineSans: var(--SplineSans);
  --font-InterTight: var(--InterTight);
  --font-NeueMontreal: var(--NeueMontreal);
  --font-TWK-Everett: var(--TWKEverett);
  --font-sora: var(--sora);
  --font-MartianMono: var(--MartianMono);
  --font-LeckerliOne: var(--LeckerliOne);
  --font-Fixture: var(--Fixture);
  --font-Oswald: var(--Oswald);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e4e4e4;
    --foreground: #171717;
    
  }
}


body {
  background: var(--background);
  color: var(--background);
  /* color: var(--foreground); */
  font-family: var(--InterTight), Arial, Helvetica, sans-serif;
}

html, body {
  height: auto;
  overflow: hidden; /* Let Lenis control scrolling */
  /* scroll-behavior: smooth; */
}

.hide-scrollbar {
  scrollbar-width: none;         /* Firefox */
  -ms-overflow-style: none;      /* IE 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;                 /* Chrome, Safari, Opera */
}

img{
  mix-blend-mode: normal !important;
}






@layer utilities{
    .container{
      @apply max-w-[1660px] px-5 w-full py-6 mx-auto
      /* @apply max-w-[1620px] px-5 w-full py-6 mx-auto */
    }
    .container2{
      @apply max-w-[1660px] px-5 w-full  pt-6 mx-auto
      /* @apply max-w-[1620px] px-5 w-full py-6 mx-auto */
    }

    .flex-center{
      @apply flex items-center justify-center
    }

    .flex-between{
      @apply flex items-center justify-between
    }

    .inpuut{
      @apply w-full text-[15px] tracking-wide font-normal font-NeueMontreal outline-none bg-transparent text-main border-[1px] hover:border-white/90 py-[11px] px-2 rounded border-white/40
    }

    .linkk{
      @apply w-full py-2 px-2 text-white font-NeueMontreal flex tracking-wide hover:bg-white/10 hover:text-green-500 items-center justify-between  text-[13px] duration-200 ease-in-out
    }

    .profile_btn{
      @apply font-NeueMontreal hover:text-white text-white/90 cursor-pointer duration-200 ease-out bg-main2/50 hover:bg-main2 px-6 py-[10px] rounded-full  text-[13px]
    }

    

}


.Linnk:hover > .text{
  display: block;
}


@keyframes fade-slide {
  0% { opacity: 0; }
  10% { opacity: 1; }
  30% { opacity: 1; }
  40% { opacity: 0; }
  100% { opacity: 0; }
}

.animate-fade-slide {
  animation: fade-slide 15s infinite;
}

input[type="range"] {
  cursor: pointer;
}


.bottom-nav {
  -webkit-backdrop-filter: blur(20px) !important;
  backdrop-filter: blur(20px) !important;
}



/* Genres Cards */

.genres:nth-child(5), .genres:nth-child(2){
  grid-column: span 1 / span 1;

  .chiild{
     background: #c1cad4 !important;
  }

}
.genres:nth-child(6), .genres:nth-child(18), .genres:nth-child(24), .genres:nth-child(23), .genres:nth-child(22){
  grid-column: span 1 / span 1 !important;
  
}


.genres:nth-child(19), .genres:nth-child(8), .genres:nth-child(14), .genres:nth-child(7){
  grid-column: span 2 / span 2 !important;
  width: 100%;
  justify-content: end;
  
}


.genres:nth-child(21){
  grid-column: span 3 / span 3 !important;
  width: 100%;
  justify-content: end;
  
}



.genres:nth-child(15), .genres:nth-child(16), .genres:nth-child(12), .genres:nth-child(18){
  .chiild{
    background: #c1cad4 !important;
  }
}

.genres:nth-child(9),  .genres:nth-child(23){
  grid-column: span 2 / span 2 !important;
  width: 100%;
  
  .chiild{
    background: #c1cad4 !important;
  }
}




/* profileImg */

.profileImg:nth-child(2){
  filter: saturate(1.2) !important;
}



/* overLaping animation */
.link-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.link-text,
.link-text-clone {
  display: block;
  transition: transform 0.3s ease;
}

.link-text-clone {
  position: absolute;
  top: 100%;
  left: 0;
}

.link-wrapper:hover .link-text {
  transform: translateY(-100%);
}

.link-wrapper:hover .link-text-clone {
  transform: translateY(-100%);
}


/* .coon:hover > .cheff{
  opacity: 1 !important;
} */


.textx{
  color: transparent !important;
  /* font-size: 2.5em; */
  -webkit-text-stroke: 1px #d8262c;
}


.someLine:nth-child(125){
  height: 20px !important;
  border-left: solid 1.5px rgb(0, 0, 0, .5) !important;
}

::selection {
  @apply bg-[#d8262c] text-white; /* Example: purple background with white text */
}