@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Spline+Sans:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: "Neue Montreal";
  src: url('/public/fonts/NeueMontreal-Regular.otf') format('opentype');
}
@font-face {
  font-family: "TWK-Everett";
  src: url('../public/fonts/TWKEverettMono-Regular.otf') format('opentype');
}



@layer base {
  :root {
    --background: #fff;
    /* --background: #e4e4e4; */
    --foreground: #222222;
    --sora: 'Sora', sans-serif;
    --color-primary: 255 90 95;     /* a reddish color */
    --color-secondary: 34 197 94;   /* green */
    --color-accent: 59 130 246;     /* blue */
    --SplineSans: 'Spline Sans', Arial, Helvetica, sans-serif;
    --SpaceGrotesk: 'Space Grotesk', Arial, Helvetica, sans-serif;
    --InterTight: 'Inter Tight', Arial, Helvetica, sans-serif;
    --NeueMontreal: 'Neue Montreal', Arial, Helvetica, sans-serif;
    --TWKEverett: 'TWK-Everett', Arial, Helvetica, sans-serif;
  }
  
}




@theme inline {
  --background: var(--background);
  --foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-main : var(--background);
  --color-main2 : var(--foreground);
  --font-Montserrat: 'Montserrat', Arial, Helvetica, sans-serif;
  --font-SpaceGrotesk: var(--SpaceGrotesk);
  --font-SplineSans: var(--SplineSans);
  --font-InterTight: var(--InterTight);
  --font-NeueMontreal: var(--NeueMontreal);
  --font-TWK-Everett: var(--TWKEverett);
  --font-sora: var(--sora);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e4e4e4;
    --foreground: #171717;
    
  }
}


body {
  background: var(--background);
  color: var(--background);
  /* color: var(--foreground); */
  font-family: var(--InterTight), Arial, Helvetica, sans-serif;
}

.hide-scrollbar {
  scrollbar-width: none;         /* Firefox */
  -ms-overflow-style: none;      /* IE 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;                 /* Chrome, Safari, Opera */
}



@layer utilities{
    .container{
      @apply max-w-[1660px] px-5 w-full py-6 mx-auto
      /* @apply max-w-[1620px] px-5 w-full py-6 mx-auto */
    }

    .flex-center{
      @apply flex items-center justify-center
    }

    .flex-between{
      @apply flex items-center justify-between
    }

    .linkk{
      @apply w-full py-2 text-white font-NeueMontreal flex tracking-wide hover:text-green-500 items-center justify-between px-1 text-[13px] duration-200 ease-in-out
    }

}


.Linnk:hover > .text{
  display: block;
}

